| OS/Distro       | Versions                                  | Support Level                                      |
| --------------: | :---------------------------------------: | -------------------------------------------------- |
{{#distributions}}
| {{name}}        | {{versions}} | {{support_level}} |
{{/distributions}}